- üìö [Îç∞Ïù¥ÌÑ∞ ÏÇ¨Ïù¥Ïñ∏Ìã∞Ïä§Ìä∏Ïùò Ïã§Ï†ÑÎÖ∏Ìä∏](http://www.kyobobook.co.kr/product/detailViewKor.laf?ejkGb=KOR&mallGb=KOR&barcode=9791165921521&orderClick=LAG&Kc=#N), Ïù¥ÏßÄÏòÅ, [ÎπÑÏ†úÏù¥ÌçºÎ∏îÎ¶≠](https://bjpublic.tistory.com/)
- üåü [YouTube: ÌÜµÍ≥ÑÌïô & Îç∞Ïù¥ÌÑ∞Í≥ºÌïô](https://https://www.youtube.com/channel/UC2BreMMPUd0djRpA4UEaD3Q)
- üíª [ÌÅ¥ÎûòÏä§101: Îç∞Ïù¥ÌÑ∞ Í≥ºÌïôÏûê Ïã§Î¨¥ ÌîÑÎ°úÏ†ùÌä∏ (Î∂ÑÏÑù+ÏòàÏ∏°Î™®Îç∏ + AWS ÏûêÎèôÌôî)](https://class101.page.link/MhG4)
- Ïä§ÌÅ¨Î¶ΩÌä∏ Ìï¥Îãπ Ïú†ÌäúÎ∏å ÏòÅÏÉÅ: https://youtu.be/n3w3amaqM80

**Ïú†ÌäúÎ∏å Í∞ïÏùò ÏöîÏïΩÎ≥∏ Ïä§ÌÅ¨Î¶ΩÌä∏ÏûÖÎãàÎã§.**



---

# **1. Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞ / Ï†ÄÏû•ÌïòÍ∏∞**

In [1]:
# ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∂àÎü¨Ïò§Í∏∞
# # https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html
import pandas as pd

In [2]:
path = "/content/drive/MyDrive/Colab Notebooks/YouTube/python_ko/data"
data = pd.read_csv(path + "/df_example.csv", sep='\t')

FileNotFoundError: [Errno 2] No such file or directory: '/content/drive/MyDrive/Colab Notebooks/YouTube/python_ko/data/df_example.csv'

In [ ]:
# data ÌôïÏù∏ÌïòÍ∏∞
print(data.shape)
data.tail(3)

(524, 16)

,ticker,close_price,day_1,day_5,df_size,skew_1,skew_60,skew_120,cutoff_1,cutoff_60,cutoff_120,created_date,longName,industry,sector,url
521,BRO,59.950001,60.45188972033531,60.299206285141736,1643.0,-0.861294,-1.215175,-1.953819,30.0,13.0,11.5,20220528.0,"Brown & Brown, Inc.",Insurance Brokers,Financial Services,https://www.bbinsurance.com
522,CDAY,57.919998,57.91999816894531,57.91999816894531,911.0,0.298715,-0.140057,-0.492977,10.0,29.5,37.0,20220528.0,Ceridian HCM Holding Inc.,Software‚ÄîApplication,Technology,https://www.ceridian.com
523,IR,48.490002,48.69462594846121,48.63775981713431,1151.0,-0.263697,-0.462131,-0.959754,10.0,2.0,8.0,20220528.0,Ingersoll Rand Inc.,Specialty Industrial Machinery,Industrials,https://www.irco.com

‚úç Ï†ïÎ¶¨
- Îç∞Ïù¥ÌÑ∞Í∞Ä Ï†ÄÏû•ÎêòÏñ¥ÏûàÎäî ÏúÑÏπò ÌôïÏù∏Ìï¥Ïïº Ìï©ÎãàÎã§.
- csvÌååÏùºÏùÑ Î∂àÎü¨Ïò¨ Í≤ΩÏö∞ Îç∞Ïù¥ÌÑ∞ Íµ¨Î∂ÑÏûêÎ•º ÏïåÏïÑÏïº Ìï©ÎãàÎã§. (",", "\t", "|")
- Îç∞Ïù¥ÌÑ∞Í∞Ä Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ÎÇò ÌÅ¥ÎùºÏö∞ÎìúÏÉÅÏóê Ï†ÄÏû•Îêú Í≤ΩÏö∞, Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ÎÇò ÌÅ¥ÎùºÏö∞ÎìúÏôÄ Ïó∞Í≤∞Ìï† Ïàò ÏûàÎäî ÎùºÏù¥Î∏åÎü¨Î¶¨Î•º ÏÇ¨Ïö©Ìï©ÎãàÎã§.

# **2. Í∞í ÌôïÏù∏ & Í≥ÑÏÇ∞ ÌïòÍ∏∞**

In [ ]:
data.head()

,ticker,close_price,day_1,day_5,df_size,skew_1,skew_60,skew_120,cutoff_1,cutoff_60,cutoff_120,created_date,longName,industry,sector,url
0,LIN,329.630005,328.8558085833736,328.9153021665391,1643.0,0.316477,-0.786366,-0.269945,25.000000,7.0,5.5,20220528.0,Linde plc,Specialty Chemicals,Basic Materials,https://www.linde.com
1,CCL,13.970000,13.970000267028809,13.970000267028809,1643.0,-0.141281,-0.603835,-0.635798,21.666667,0.0,0.0,20220528.0,Carnival Corporation & plc,Travel Services,Consumer Cyclical,https://www.carnivalcorp.com
2,CUK,12.940000,12.9399995803833,12.9399995803833,1643.0,-0.158494,-0.744763,-0.475235,20.000000,0.0,0.0,20220528.0,Carnival Corporation & plc,Leisure,Consumer Cyclical,https://www.carnivalcorp.com
3,CUKPF,11.040000,11.04004235485738,11.04004235485738,1643.0,-2.628290,-1.028327,-0.473791,10.000000,0.0,0.0,20220528.0,Carnival Corporation & plc,Leisure,Consumer Cyclical,https://www.carnivalcorp.com
4,STE,235.000000,234.92752018837626,235.15102092319228,1643.0,-0.967424,-0.070860,-0.352146,11.666667,1.5,4.0,20220528.0,STERIS plc,Medical Devices,Healthcare,https://www.steris.com

In [ ]:
# ÌäπÏ†ï Ïó¥ Î≥¥Í∏∞
data[["ticker", "sector"]]

    ticker              sector
0      LIN     Basic Materials
1      CCL   Consumer Cyclical
2      CUK   Consumer Cyclical
3    CUKPF   Consumer Cyclical
4      STE          Healthcare
..     ...                 ...
519   BBWI   Consumer Cyclical
520   TECH          Healthcare
521    BRO  Financial Services
522   CDAY          Technology
523     IR         Industrials

[524 rows x 2 columns]

In [ ]:
# ÌäπÏ†ï Ìñâ Î≥¥Í∏∞ - 0Î∂ÄÌÑ∞ ÏãúÏûëÌï¥ 10ÏùÑ Ìè¨Ìï®ÌïòÏßÄ ÏïäÏùÄ 9ÍπåÏßÄ Ï¥ù 10Í∞úÏùò Ìñâ ÌôïÏù∏
data[:10]

,ticker,close_price,day_1,day_5,df_size,skew_1,skew_60,skew_120,cutoff_1,cutoff_60,cutoff_120,created_date,longName,industry,sector,url
0,LIN,329.630005,328.8558085833736,328.9153021665391,1643.0,0.316477,-0.786366,-0.269945,25.000000,7.0,5.5,20220528.0,Linde plc,Specialty Chemicals,Basic Materials,https://www.linde.com
1,CCL,13.970000,13.970000267028809,13.970000267028809,1643.0,-0.141281,-0.603835,-0.635798,21.666667,0.0,0.0,20220528.0,Carnival Corporation & plc,Travel Services,Consumer Cyclical,https://www.carnivalcorp.com
2,CUK,12.940000,12.9399995803833,12.9399995803833,1643.0,-0.158494,-0.744763,-0.475235,20.000000,0.0,0.0,20220528.0,Carnival Corporation & plc,Leisure,Consumer Cyclical,https://www.carnivalcorp.com
3,CUKPF,11.040000,11.04004235485738,11.04004235485738,1643.0,-2.628290,-1.028327,-0.473791,10.000000,0.0,0.0,20220528.0,Carnival Corporation & plc,Leisure,Consumer Cyclical,https://www.carnivalcorp.com
4,STE,235.000000,234.92752018837626,235.15102092319228,1643.0,-0.967424,-0.070860,-0.352146,11.666667,1.5,4.0,20220528.0,STERIS plc,Medical Devices,Healthcare,https://www.steris.com
5,MMM,149.509995,149.50999450683594,149.50999450683594,1643.0,-0.016209,-0.207677,0.853100,6.666667,18.5,19.0,20220528.0,3M Company,Conglomerates,Industrials,https://www.3m.com
6,AXP,169.600006,169.60000610351562,169.60000610351562,1643.0,-0.291700,-0.728634,-0.415826,20.000000,4.5,0.0,20220528.0,American Express Company,Credit Services,Financial Services,https://www.americanexpress.com
7,AAPL,149.639999,149.23548335284676,149.23548335284676,1643.0,-0.204164,-0.198745,-1.286037,20.000000,1.0,2.0,20220528.0,Apple Inc.,Consumer Electronics,Technology,https://www.apple.com
8,BA,132.229996,132.84251046545631,133.3615257983881,1643.0,-0.464004,-1.999396,-1.677635,13.333333,7.0,0.5,20220528.0,The Boeing Company,Aerospace & Defense,Industrials,https://www.boeing.com
9,CAT,217.139999,e,r,1643.0,-0.196712,0.050342,0.092590,11.666667,0.0,0.0,20220528.0,Caterpillar Inc.,Farm & Heavy Construction Machinery,Industrials,https://www.caterpillar.com

In [ ]:
# -Í∞Ä ÏûàÏúºÎ©¥ Ïó≠ÏúºÎ°ú ÎßàÏßÄÎßâ ÌñâÎ∂ÄÌÑ∞ Î≥¥Í≤å Îê©ÎãàÎã§. : Îí§Î°ú ÎÅùÏùÑ ÏßÄÏ†ïÌïòÏßÄ ÏïäÏïòÍ∏∞ ÎïåÎ¨∏Ïóê ÎßàÏßÄÎßâ 5Î≤àÏß∏Î∂ÄÌÑ∞ ÎÅùÍπåÏßÄ ÌñâÏùÑ Î≥º Ïàò ÏûàÏäµÎãàÎã§.
data[-5:]

,ticker,close_price,day_1,day_5,df_size,skew_1,skew_60,skew_120,cutoff_1,cutoff_60,cutoff_120,created_date,longName,industry,sector,url
519,BBWI,42.450001,42.45000076293945,42.45000076293945,1643.0,-0.010693,-0.536708,-0.497192,10.000000,3.0,4.0,20220528.0,"Bath & Body Works, Inc.",Specialty Retail,Consumer Cyclical,https://www.bbwinc.com
520,TECH,386.559998,387.9504337007182,387.03223686680207,1643.0,0.185758,-0.368214,-0.030034,31.666667,17.0,37.0,20220528.0,Bio-Techne Corporation,Biotechnology,Healthcare,https://www.bio-techne.com
521,BRO,59.950001,60.45188972033531,60.299206285141736,1643.0,-0.861294,-1.215175,-1.953819,30.000000,13.0,11.5,20220528.0,"Brown & Brown, Inc.",Insurance Brokers,Financial Services,https://www.bbinsurance.com
522,CDAY,57.919998,57.91999816894531,57.91999816894531,911.0,0.298715,-0.140057,-0.492977,10.000000,29.5,37.0,20220528.0,Ceridian HCM Holding Inc.,Software‚ÄîApplication,Technology,https://www.ceridian.com
523,IR,48.490002,48.69462594846121,48.63775981713431,1151.0,-0.263697,-0.462131,-0.959754,10.000000,2.0,8.0,20220528.0,Ingersoll Rand Inc.,Specialty Industrial Machinery,Industrials,https://www.irco.com

In [ ]:
data[-5:][["ticker", "sector"]]

    ticker              sector
519   BBWI   Consumer Cyclical
520   TECH          Healthcare
521    BRO  Financial Services
522   CDAY          Technology
523     IR         Industrials

In [ ]:
data[["ticker", "sector"]][-5:]

    ticker              sector
519   BBWI   Consumer Cyclical
520   TECH          Healthcare
521    BRO  Financial Services
522   CDAY          Technology
523     IR         Industrials

## 2-1 Í≤∞Ï∏°Ïπò

In [ ]:
# Í≤∞Ï∏°Ïπò ÌçºÏÑºÌã∞ÏßÄ
# Î™®Îì† Ïó¥, Í∞Å ÌñâÎßàÎã§ Í∑∏ Í∞íÏù¥ isnullÏù∏ÏßÄ True/FalseÎ°ú ÌôïÏù∏Ìïú ÌõÑ, TrueÏù∏ Í∞íÏùÑ ÎçîÌïòÍ≥†, ÎçîÌïú Í∞íÏùÑ Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞ ÌÅ¨Í∏∞Î°ú ÎÇòÎàî
data.isnull().sum()/len(data)*100

# data.isnull().mean()*100 ÏôÄ Í∞ôÏùÄ Í∞íÏùÑ Í∞ñÍ≤å Îê©ÎãàÎã§.

ticker          0.000000
close_price     2.290076
day_1           0.000000
day_5           0.000000
df_size         3.053435
skew_1          3.053435
skew_60         3.053435
skew_120        3.053435
cutoff_1        3.053435
cutoff_60       3.053435
cutoff_120      3.053435
created_date    3.053435
longName        3.053435
industry        3.244275
sector          3.244275
url             3.244275
dtype: float64

In [ ]:
# Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäî Ìñâ ÌôïÏù∏ÌïòÍ∏∞
data[data["sector"].isnull()]

,ticker,close_price,day_1,day_5,df_size,skew_1,skew_60,skew_120,cutoff_1,cutoff_60,cutoff_120,created_date,longName,industry,sector,url
102,XLNX,NaN,e,r,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,BMYMP,1267.000000,1256.588457980466,1225.4374159312413,1643.0,3.519458,0.000063,-0.353605,5.0,30.0,29.0,20220528.0,Bristol-Myers Squibb Company PFD CONV 2,NaN,NaN,NaN
199,COG,NaN,e,r,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,CNP-PB,NaN,e,r,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290,HCP,36.950001,36.95000076293945,36.95000076293945,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300,HBANN,NaN,e,r,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
304,INFO,NaN,e,r,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320,KSU,NaN,e,r,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
324,KIM-PI,NaN,e,r,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
425,TMK,NaN,e,r,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450,WLTW,NaN,e,r,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
461,CARR,40.230000,40.22999954223633,40.22999954223633,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
474,HRS,NaN,e,r,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
487,OTIS,76.300003,76.343843921843,75.7479739773396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501,VIACA,NaN,e,r,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502,VIAC,NaN,e,r,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
518,OGN,38.900002,38.900001525878906,38.900001525878906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Ïù∏ÌÑ∞Ïä§Ìä∏Î¶¨ÏôÄ ÏÑπÌÑ∞ÏóêÏÑú Í≤∞Ï∏°Í∞íÏùÑ Í∞ÄÏßÑ Í≤ΩÏö∞ Í∑∏ ÌñâÏùÑ Ï†úÍ±∞ÌïòÍ≥†, Í∑∏Í≤ÉÏùÑ Îã§Ïãú dataÎùºÎäî Ïù¥Î¶ÑÏúºÎ°ú ÎçÆÏñ¥ ÏîÄ
data.dropna(subset=['industry', 'sector'], inplace=True)

In [ ]:
# ÌäπÏ†ï Í∞íÏùÑ ÏßÄÏö¥ Í≤ΩÏö∞ Îç∞Ïù¥ÌÑ∞ ÌÅ¨Í∏∞Î•º ÌôïÏù∏Ìï¥ Ï†úÎåÄÎ°ú ÏûëÏóÖÌïòÍ≥† ÏûàÎäîÏßÄ ÌôïÏù∏Ïù¥ ÌïÑÏöîÌï©ÎãàÎã§.
data.shape

(507, 16)

## 2-2 Ï§ëÎ≥µÍ∞í

In [ ]:
# Ï†ÑÏ≤¥ ÌñâÏùò Í∞ØÏàòÏôÄ ÌäπÏ†ï Ïó¥Ïùò Ïú†ÏùºÍ∞íÏùÑ ÎπÑÍµêÌïòÎ©¥, Ï§ëÎ≥µÍ∞íÏùÑ Í∞ÄÏßÄÎäîÏßÄ ÏïÑÎãåÏßÄ ÌôïÏù∏Ìï† Ïàò ÏûàÏäµÎãàÎã§.
len(data["ticker"].unique())
# data["ticker"].nunique()

507

In [ ]:
df_ex = pd.DataFrame({"ID":["A", "A","A", "B", "B", "C"],
                       "ÌÇ§":[166,166, 150, 166, 170, 180]})

In [ ]:
df_ex.drop_duplicates()

  ID    ÌÇ§
0  A  166
2  A  150
3  B  166
4  B  170
5  C  180

In [ ]:
# IDÍ∏∞Ï§ÄÏúºÎ°ú Ï§ëÎ≥µÍ∞íÏùÑ ÏßÄÏö∏ Í≤ΩÏö∞, ÌïòÏßÄÎßå B Í≤ΩÏö∞ Ïôú ÌÇ§ Ï§ëÏóêÏÑú 166Îßå ÎÇ®Í≤å ÎêòÎäîÍ±∏ÍπåÏöî?
df_ex.drop_duplicates('ID')

  ID    ÌÇ§
0  A  166
3  B  166
5  C  180

In [ ]:
# Ïñ¥Îñ§ Í∞íÏùÑ Í∞ÄÏßàÏßÄ keep Ìï≠Î™©ÏóêÏÑú ÏÑ§Ï†ïÌï† Ïàò ÏûàÏßÄÎßå, Ïù¥ Í≤ΩÏö∞ Îç∞Ïù¥ÌÑ∞Î•º Ïñ¥ÎñªÍ≤å Ï†ïÎ†¨(sort)ÌïòÎäêÎÉêÍ∞Ä Î¨∏Ï†úÏùº Ïàò ÏûàÏäµÎãàÎã§.
df_ex.drop_duplicates('ID', keep='first')

  ID    ÌÇ§
0  A  166
3  B  166
5  C  180

In [ ]:
# ÌÇ§Î•º Ïò§Î¶ÑÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨Ìïú Îí§, IDÎ•º Í∏∞Ï§ÄÏúºÎ°ú Ï§ëÎ≥µÍ∞íÏùÑ ÏßÄÏö∞ÎäîÎç∞ Í∞ÄÏû• ÎßàÏßÄÎßâ Í∞íÏùÄ Ïú†ÏßÄÌï©ÎãàÎã§.
df_ex.sort_values('ÌÇ§', ascending=True).drop_duplicates('ID', keep='last')

  ID    ÌÇ§
1  A  166
4  B  170
5  C  180

## 2-3 ÎÇ†Ïßú

In [ ]:
df_ex = pd.DataFrame({"ID":["A", "A","A", "B", "B", "C"],
                       "ÌÇ§":[166,166, 150, 166, 170, 180],
                      "ÎÇ†Ïßú":[202206, 202205, 202102, 202201, 202206, 202206]})
df_ex

  ID    ÌÇ§      ÎÇ†Ïßú
0  A  166  202206
1  A  166  202205
2  A  150  202102
3  B  166  202201
4  B  170  202206
5  C  180  202206

In [ ]:
# ÌïòÏßÄÎßå Îç∞Ïù¥ÌÑ∞Ïóê ÎÇ†ÏßúÍ∞Ä ÏûàÎäî Í≤ΩÏö∞, ÎÇ†ÏßúÎ°ú Ï†ïÎ†¨ÌïòÎäî Í≤ÉÏù¥ Îçî ÎÇòÏùÑ Ïàò ÏûàÏäµÎãàÎã§.
df_ex.sort_values('ÎÇ†Ïßú', ascending=True).drop_duplicates('ID', keep='last')

  ID    ÌÇ§      ÎÇ†Ïßú
0  A  166  202206
4  B  170  202206
5  C  180  202206

In [ ]:
df_ex['ÎÇ†Ïßú_ÏàòÏ†ï'] = pd.to_datetime(df_ex['ÎÇ†Ïßú'], format='%Y%m')
df_ex[["ÎÇ†Ïßú", "ÎÇ†Ïßú_ÏàòÏ†ï"]]

       ÎÇ†Ïßú      ÎÇ†Ïßú_ÏàòÏ†ï
0  202206 2022-06-01
1  202205 2022-05-01
2  202102 2021-02-01
3  202201 2022-01-01
4  202206 2022-06-01
5  202206 2022-06-01

In [ ]:
# ÎÇ†Ïßú Í∏∞Ï§ÄÏúºÎ°ú ÌñâÏùÑ Í±∏Îü¨ÎÇº ÏàòÎèÑ ÏûàÏäµÎãàÎã§.
df_ex[df_ex["ÎÇ†Ïßú_ÏàòÏ†ï"] > '2022-01-01']

  ID    ÌÇ§      ÎÇ†Ïßú      ÎÇ†Ïßú_ÏàòÏ†ï
0  A  166  202206 2022-06-01
1  A  166  202205 2022-05-01
4  B  170  202206 2022-06-01
5  C  180  202206 2022-06-01

## 2-4 Í≥ÑÏÇ∞ÌïòÍ∏∞

In [ ]:
# Îç∞Ïù¥ÌÑ∞Í∞Ä Ï†ïÎ¶¨ÎêòÏßÄ ÏïäÏùÄ ÏÉÅÌÉúÏóêÏÑú describe Ìï®ÏàòÎ•º ÌÜµÌï¥ Îç∞Ïù¥ÌÑ∞Î•º Ïù¥Ìï¥ÌïòÎäî Í≤ÉÏùÄ ÏúÑÌóòÌï©ÎãàÎã§.
data.describe()

,close_price,df_size,skew_1,skew_60,skew_120,cutoff_1,cutoff_60,cutoff_120,created_date
count,507.000000,507.000000,507.000000,507.000000,507.000000,507.000000,507.000000,507.000000,507.0
mean,179.750399,1626.424063,-0.400483,-0.229315,-0.322784,14.204471,9.702170,10.801775,20220528.0
std,316.808511,113.217792,0.843567,0.489035,0.541672,7.701505,11.309998,13.852222,0.0
min,8.420000,640.000000,-4.391359,-1.999396,-2.089018,0.000000,0.000000,0.000000,20220528.0
25%,59.424999,1643.000000,-0.677296,-0.513830,-0.591996,8.333333,0.000000,0.000000,20220528.0
50%,107.449997,1643.000000,-0.305434,-0.233438,-0.263128,13.333333,5.000000,3.500000,20220528.0
75%,195.559998,1643.000000,0.008218,0.055806,0.037951,20.000000,17.000000,18.500000,20220528.0
max,4467.759766,1656.000000,4.582192,1.304375,1.906182,48.333333,64.000000,62.000000,20220528.0

In [ ]:
# ÏÑπÌÑ∞Î≥Ñ Ï¢ÖÍ∞Ä ÌèâÍ∑†
data.groupby('sector')['close_price'].mean()

sector
Basic Materials           151.888574
Communication Services    245.712965
Consumer Cyclical         283.691994
Consumer Defensive        117.777568
Energy                     94.772500
Financial Services        134.910145
Healthcare                233.232655
Industrials               170.872030
Real Estate               142.748999
Technology                175.899476
Utilities                  82.782414
Name: close_price, dtype: float64

In [ ]:
# ÏÑπÌÑ∞ ÌèâÍ∑† Ïó¥ ÎßåÎì§Í∏∞
data["sector_mean"] = data.groupby(['sector'])['close_price'].transform('mean')

# ÏÑπÌÑ∞ Ìã∞Ïª§ Í∞úÏàò
data["sector_count"] = data.groupby(['sector'])['ticker'].transform('nunique')

data[["ticker", "sector", "sector_count", "close_price", "sector_mean"]]

    ticker              sector  sector_count  close_price  sector_mean
0      LIN     Basic Materials            21   329.630005   151.888574
1      CCL   Consumer Cyclical            70    13.970000   283.691994
2      CUK   Consumer Cyclical            70    12.940000   283.691994
3    CUKPF   Consumer Cyclical            70    11.040000   283.691994
4      STE          Healthcare            64   235.000000   233.232655
..     ...                 ...           ...          ...          ...
519   BBWI   Consumer Cyclical            70    42.450001   283.691994
520   TECH          Healthcare            64   386.559998   233.232655
521    BRO  Financial Services            69    59.950001   134.910145
522   CDAY          Technology            71    57.919998   175.899476
523     IR         Industrials            69    48.490002   170.872030

[507 rows x 5 columns]

In [ ]:
# ÎûåÎã§ÏôÄ qcut Ìï®ÏàòÏóê Í¥ÄÌïú ÏûêÏÑ∏Ìïú ÎÇ¥Ïö©ÏùÄ Ìï¥Îãπ Ïú†ÌäúÎ∏å Í∞ïÏùò Ï∞∏Í≥†Ìï¥ Ï£ºÏÑ∏Ïöî.
data['price_s_level'] = data.groupby('sector')['close_price'].\
                        transform(lambda x: pd.qcut(x, q=3, labels=["L", "M", "H"]))

data[["ticker", "sector", "sector_count", "sector_mean", "close_price", "price_s_level"]]

,ticker,sector,sector_count,sector_mean,close_price,price_s_level
0,LIN,Basic Materials,21,151.888574,329.630005,H
1,CCL,Consumer Cyclical,70,283.691994,13.970000,L
2,CUK,Consumer Cyclical,70,283.691994,12.940000,L
3,CUKPF,Consumer Cyclical,70,283.691994,11.040000,L
4,STE,Healthcare,64,233.232655,235.000000,M
...,...,...,...,...,...,...
519,BBWI,Consumer Cyclical,70,283.691994,42.450001,L
520,TECH,Healthcare,64,233.232655,386.559998,H
521,BRO,Financial Services,69,134.910145,59.950001,L
522,CDAY,Technology,71,175.899476,57.919998,L
523,IR,Industrials,69,170.872030,48.490002,L

In [ ]:
data[(data["sector"] == "Technology") & (data["price_s_level"] == "H")]\
                          [["ticker", "industry", "sector_mean", "close_price"]]

    ticker                             industry  sector_mean  close_price
25    MSFT              Software‚ÄîInfrastructure   175.899476   273.239990
36    ADBE              Software‚ÄîInfrastructure   175.899476   428.220001
45    ADSK                 Software‚ÄîApplication   175.899476   211.380005
71    INTU                 Software‚ÄîApplication   175.899476   422.480011
74    LRCX  Semiconductor Equipment & Materials   175.899476   531.020020
82    NVDA                       Semiconductors   175.899476   188.110001
83    NXPI                       Semiconductors   175.899476   195.929993
105    ACN      Information Technology Services   175.899476   304.149994
172   ANSS                 Software‚ÄîApplication   175.899476   264.619995
195   AVGO                       Semiconductors   175.899476   583.280029
267    FLT              Software‚ÄîInfrastructure   175.899476   249.479996
269   FTNT              Software‚ÄîInfrastructure   175.899476   297.869995
279     IT      Information Technology Services   175.899476   266.589996
315   JKHY      Information Technology Services   175.899476   188.089996
326   KLAC  Semiconductor Equipment & Materials   175.899476   371.269989
351    MSI              Communication Equipment   175.899476   223.009995
415   SNPS              Software‚ÄîInfrastructure   175.899476   322.959991
488   PAYC                 Software‚ÄîApplication   175.899476   294.279999
493    NOW                 Software‚ÄîApplication   175.899476   476.290009
494    TDY   Scientific & Technical Instruments   175.899476   398.209991
500    TYL                 Software‚ÄîApplication   175.899476   362.480011
507   ZBRA              Communication Equipment   175.899476   343.529999
512   ENPH                                Solar   175.899476   188.949997
514   MPWR                       Semiconductors   175.899476   455.850006

‚ö† Ï†ÄÏûëÍ∂å: Copyright 2022. (Ïù¥ÏßÄÏòÅ) all rights reserved.